.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.main-content.no-navbar {
  padding-top: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
